<mat-card>
  <mat-card-title>
    CFA Université Montpellier 2
  </mat-card-title>
  <p> Description: ... </p>
  <p> Titre: Développeur PHP / JavaScript </p>
  <p> Durée: été 2014 </p>
</mat-card>

<mat-card>
  <mat-card-title>
    CGI Montpellier
  </mat-card-title>
  <mat-accordion>
    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>
          SPMSD - V@xishop
        </mat-panel-title>
      </mat-expansion-panel-header>
      <p> Description: ... </p>
    </mat-expansion-panel>
    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>
          RFF - Concerter
        </mat-panel-title>
      </mat-expansion-panel-header>
      <p> Description: ... </p>
    </mat-expansion-panel>
    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>
          Lorem ipsum
        </mat-panel-title>
      </mat-expansion-panel-header>
      <p> Description: ... </p>
    </mat-expansion-panel>
    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>
          Lorem ipsum
        </mat-panel-title>
      </mat-expansion-panel-header>
      <p> Description: ... </p>
    </mat-expansion-panel>
    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>
          DARTY - Nomad
        </mat-panel-title>
      </mat-expansion-panel-header>
      <p> Description: ... </p>
    </mat-expansion-panel>
  </mat-accordion>
</mat-card>
