<!-- <app-menu></app-menu>
<router-outlet></router-outlet> -->

<mat-sidenav-container>
  <mat-sidenav #sidenav mode="side">
    <div style="height: 200px; width: 200px" color="primary">

    </div>
    <mat-nav-list>
      <mat-list-item routerLink="/"> Home </mat-list-item>
      <mat-list-item routerLink="/cv"> CV </mat-list-item>
    </mat-nav-list>
  </mat-sidenav>

    <mat-toolbar color="primary">
      <button type="button" mat-icon-button (click)="sidenav.toggle()">
        <mat-icon>menu</mat-icon>
      </button>
      <span>{{ title }}</span>
    </mat-toolbar>

  <section style="min-height: 100vh">
    <router-outlet></router-outlet>
  </section>

</mat-sidenav-container>
