<mat-accordion>
  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title>
        Français
      </mat-panel-title>
    </mat-expansion-panel-header>
    <p> Niveau: Bilingue </p>
    <p> Description: Langue maternelle. </p>
    <h4>Sejour</h4>
    <p> Titre: Déménagement en France pour mes études </p>
    <p> Durée: 2006 / 2017 </p>
    <p> Description: Sejour en France. </p>
  </mat-expansion-panel>
  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title>
        Italien
      </mat-panel-title>
    </mat-expansion-panel-header>
    <p> Niveau: Bilingue </p>
    <p> Description: J'ai vecu de 1995 à 2006 en Italie </p>
    <h4>Sejour</h4>
    <p> Titre: Déménagement à Calcinaia (Pise), Italie </p>
    <p> Durée: 1995 / 2006 </p>
    <p> Description: Sejour en Italie. </p>
  </mat-expansion-panel>
  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title>
        Anglais
      </mat-panel-title>
    </mat-expansion-panel-header>
    <p> Niveau: Trés bon </p>
    <p> Description: J'ai vecu de 1995 à 2006 en Italie </p>
    <h4>Certificats</h4>
    <p> Diplôme: TOEIC </p>
    <p> Année: 2015 </p>
    <p> Score: 830/999 </p>
    <h4>Sejour</h4>
    <p> Titre: Sejour scolaire à Bristol, Royaume-Uni </p>
    <p> Durée: juin 2015 / juillet 2015 </p>
    <p> Description: Sejour scolaire d'un mois au sein de l'université UWE de Bristol. </p>
    <p> Diplôme: UWE School Camp </p>
  </mat-expansion-panel>
</mat-accordion>
